<%= form_for(@dataset) do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br /><br /><br />
  
  <% @input.each do |field| %>
    <%= label_tag field[0].to_sym %><br />
    <%= text_field_tag field[0].to_sym %><br /><br />
  <% end %>
  
  <%= hidden_field_tag 'source', params[:source] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
