<%= form_for(@dataset) do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %><br /><br /><br />

  <% 2.times do |count| %>
    <%= render 'query_fields', count: count %>
  <% end %>
  
  <%= hidden_field_tag 'source', params[:source] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
