<%= form_for(@dataset) do |f| %>
<div class="app-sidebars">
  <div class="app-sidebars-small">
    <h2>Details</h2>
    <p>Selected Sources</p>
    <ul class="list-items">
      <li><i class="<%= @crawler["icon"] %>"></i> <%= @crawler["name"] %></li>
    </ul>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <hr>
    <a class="button warning button-full" href="<%= datasets_path %>" class="button">Cancel & Start Again</a>
  </div>

  <div class="app-sidebars-large">
    <h2>Enter Terms</h2>
    <p>Single terms or multiple are allowed and will be crawled as single queries</p>
    <ol class="unstyled" id="term-input-list">
      <li>
        <%= render 'query_fields', count: 0 %>
      </li>
    </ol>
    <%= hidden_field_tag 'source', params[:source] %>
    <a id="add-another-query" class="button info">+ Add Another Term</a>
    <button class="button pull-right" type="submit" name="commit"><i class="icon-checkmark"></i> Start Collecting</button>
  </div>
</div>
<% end %>

<script type="text/template" id="template-add-term-input">
<li>
  <hr>
  <%= render 'query_fields', count: "template" %>
</li>
</script>
