<%= form_for @dataset, html: {multipart: true}  do |f| %>
<div class="app-sidebars">
  <div class="app-sidebars-small">
    <h2>Details</h2>
    <p>Selected Sources</p>
    <ul class="list-items">
      <li><i class="<%= @crawler["icon"] %>"></i> <%= @crawler["name"] %></li>
    </ul>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <hr>
    <a class="button warning button-full" href="<%= datasets_path %>" class="button">Cancel & Start Again</a>
  </div>

  <div class="app-sidebars-large">
    <h2>Upload Selector List</h2>
    <p>Upload a JSON list of selectors. The keys should be the names of the
    fields for the data source as specified in CrawlerManager. If you aren't
    adding selectors from a pre-existing list in bulk, <%= link_to "the normal
    selector input form", new_dataset_path(source: params[:source]) %> is a better option.</p>
    <ol class="unstyled" id="term-input-list">
      <li>
	<%= f.label :selector_file %>
        <%= f.file_field :selector_file %>
      </li>
    </ol>
    <%= hidden_field_tag 'source', params[:source] %>
    <%= hidden_field_tag 'input_query_fields' %>
    <button class="button pull-right" type="submit" name="commit"><i class="icon-checkmark"></i> Start Collecting</button>
    <button class="button pull-right" type="submit" name="save"><i class="icon-checkmark"></i> Save Selectors</button>
  </div>
</div>
<% end %>

<script type="text/template" id="template-add-term-input">
<li>
  <hr>
  <%= render 'query_fields', count: "template" %>
</li>
</script>
