<div class="wrapper">
  <div class="app-title">
    <h1><%= get_overall_count %> Results Harvested</h1>
  </div>

  <div class="grid-two">
    <div class="one-column">
      <a class="button primary button-full" href="/datasources"><i class="icon-plus"></i> Add New Collection</a>
    </div>
    <div class="one-column">
      <a class="button primary button-full" href="http://localhost:3000"><i class="icon-logo"></i> View in LookingGlass</a>
    </div>
  </div>

  <div class="app-content">
  <% @datasets.each do |dataset| %>
    <div class="grid-three">
      <div class="two-column">
        <h2><% if dataset.name != "" %><%= dataset.name %><% else %><span>(No Title)</span><% end %></h2>
        <% if get_count_per_dataset(dataset) > 0 %><%= get_count_per_dataset(dataset) %><% else %>No<% end %> items collected
      </div>
      <div class="one-column text-right">
        <a class="button info" href="/datasets/<%= dataset.id %>">View
          Collection</a>  <br /><br />
	<%= link_to raw("<i class='icon-trash'></i> Delete"), dataset,
	                            method: :delete, class: "remove danger
          pull-right button" %>
      </div>
    </div>
    <hr>
  <% end %>
  </div>

</div>
