<% if params['notice'] %>
<div class="wrapper">
  <div class="app-notice"><%= params['notice'] %></div>
</div>
<% end %>

<div class="wrapper">
  <div class="app-title">
    <h1>Your Harvests</h1>
  </div>
  <h2>Number of Results Harvested: <%= get_overall_count %></h2>

  <div class="three-columns">
    <div class="one-column">
      <button class="button button-full"><i class="icon-plus"></i> Add Datasets</button>
    </div>
    <div class="one-column">
      <button class="button button-full"><i class="icon-plus"></i> Add Query</button>
    </div>
    <div class="one-column">
      <button class="button button-full"><i class="icon-logo"></i>View in LookingGlass</button>
    </div>
  </div>

  <% @datasets.each do |dataset| %>

    <h3><%= dataset.name %></h3>
    <h3>Count: <%= get_count_per_dataset(dataset) %></h3>

    View:
    <a class="button info" href="/datasets/<%= dataset.id %>">Dataset</a><br>
    <hr>
  <% end %>

</div>
