<div class="wrapper">
  <div class="app-title">
    <h1><span>Collection:</span> <%= @dataset.name %></h1>
    <%= link_to raw("<i class='icon-trash'></i> Delete"), @dataset,
		        method: :delete, class: "remove danger pull-right button" %>
    <a href="/datasets/<%= @dataset.id%>/edit"><i class="icon-modified"></i> Edit</a>
  </div>

  <div class="app-content">
    <div class="grid-three">
      <div class="two-column">
        <h2><% if get_count_per_dataset(@dataset) > 0 %><%= get_count_per_dataset(@dataset) %><% else %>No<% end %> Items Collected</h2>
      </div>
      <div class="one-column text-right">
      <% @crawlers.each do |crawler| %>
        <% if crawler["classname"] == @dataset.source %>
        <i class="<%= crawler["icon"] %>"></i> <%= crawler["name"] %>
        <% end %>
      <% end %>
      </div>
    </div>

    <% if @dataset.input_query_fields %>
    <h3>Terms</h3>
    <ul class="list-items">
      <% @dataset.terms.each do |query_fields| %>
      <li>
	<i class="icon-terms"></i>
        <% query_fields.term_query.each do |query, value| %>
          <%= value %>
        <% end %>

	<%= link_to raw("<i class='icon-trash'></i> Delete"), query_fields,
	method: :delete, class: "remove danger pull-right" %>
        <a href="#" class="view info pull-right"><i class="icon-query"></i> Re-Crawl</a>
      </li>
    <% end %>
    </ul>
    <% else %>
    <h3>Hmm</h3>
    <p>No search terms were specified in this collection.</p>
    <% end %>
    <hr>

    <% if @print_data.empty? %>
    <h3>Shucks</h3>
    <p>No raw data found in this collection</p>
    <% else %>
    <h3>RAW Data</h3>
    <div class="expander">
      <a href="javascript:void(0)" class="expander-trigger expander-hidden"> Expand to see data</a>
      <div class="expander-content">
        <%= JSON.pretty_generate(@print_data) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
